[submodule "prueba-repositorio"]
	path = prueba-repositorio
	url = https://github.com/Gdaimon/prueba-repositorio.git
[submodule "primer-proyecto-html"]
	path = primer-proyecto-html
	url = https://github.com/Gdaimon/primer-proyecto-html.git
[submodule "css-uniantioquia"]
	path = css-uniantioquia
	url = https://github.com/Gdaimon/css-uniantioquia.git
[submodule "css-bootstrap-uniantioquia"]
	path = css-bootstrap-uniantioquia
	url = https://github.com/Gdaimon/css-bootstrap-uniantioquia.git
[submodule "clase-javascript"]
	path = clase-javascript
	url = https://github.com/Gdaimon/clase-javascript.git
[submodule "fire-task"]
	path = fire-task
	url = https://github.com/Gdaimon/fire-task.git
[submodule "primeros-pasos-react"]
	path = primeros-pasos-react
	url = https://github.com/Gdaimon/primeros-pasos-react.git
[submodule "firebase-react-router"]
	path = firebase-react-router
	url = https://github.com/Gdaimon/firebase-react-router.git
[submodule "lista-tareas-react"]
	path = lista-tareas-react
	url = https://github.com/Gdaimon/lista-tareas-react.git
[submodule "conexion-firebase"]
	path = conexion-firebase
	url = https://github.com/Gdaimon/conexion-firebase.git
[submodule "rutas-react"]
	path = rutas-react
	url = https://github.com/Gdaimon/rutas-react.git
[submodule "rutas-protegidas"]
	path = rutas-protegidas
	url = https://github.com/Gdaimon/rutas-protegidas.git
[submodule "rutas-protegidas-firebase"]
	path = rutas-protegidas-firebase
	url = https://github.com/Gdaimon/rutas-protegidas-firebase.git
[submodule "ajax_sessionStorage_localStorage"]
	path = ajax_sessionStorage_localStorage
	url = https://github.com/Gdaimon/ajax_sessionStorage_localStorage.git
